.hidden {
    display: none !important;
}

.amp-ff1 {
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
}

.amp-ff2 {
    font-family: 'Volkhov', serif;
    font-family: 'Abril Fatface', cursive;
}

.amp-ff3 {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Lobster Two', cursive;
}

.amp-f0 {
    font-size:5vw;
}

.amp-f1 {
    font-size:3.5vw;
}

.amp-f2 {
    font-size:2.5vw;
}

.amp-f3 {
    font-size:2vw;
}

.amp-f4 {
    font-size:1.5vw;
}

.amp-opacity-8 {
    opacity: 0.8;
}

.amp-opacity-9 {
    opacity: 0.9;
}

.amp-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.template-16-9 .template-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.template-16-9 .template-text {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
