.amp-ff1 {
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
}

.amp-ff2 {
    font-family: 'Volkhov', serif;
    font-family: 'Abril Fatface', cursive;
}

.amp-ff3 {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Lobster Two', cursive;
}

a,
button,
.cursor-pointer {
    cursor: pointer;
}

.amp-fullscreen {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
}

.amp-scroll-y {
    overflow-y: auto;
}