.fanwood {
    font-family: 'Fanwood Text', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

a,
button,
.cursor-pointer {
    cursor: pointer;
}

.amp-fullscreen {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
}

.amp-scroll-y {
    overflow-y: auto;
}